.box1-pg1 ,.box2-pg1{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}
@media (min-height:835px) {
.box1-pg1,.box2-pg1{
    margin-bottom: 20px;
}
}
@media (min-height:895px) {
    .box1-pg1,.box2-pg1{
        margin-bottom: 25px;
    }
    }
.main-box-pg1{
    width: 70vw;
    z-index: 11;
    position: absolute;
    bottom: 8vh;
    left: 0px;
}